<?xml version="1.0"?>
<robot name="terabot_arm" xmlns:xacro="http://www.ros.org/wiki/xacro"> 

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find terabot_description)/urdf/terabot.urdf.xacro" />
  <!--xacro:include filename="$(find terabot_description)/urdf/terabot.gazebo.xacro" /-->

  <link name="world"/>

  <joint name="fixed" type="fixed">
	<parent link="world"/>
	<child link="base_footprint"/>
  </joint>

  <!-- BASE FOOTPRINT -->
  <!-- base_footprint is a fictitious link(frame) that is on the ground right below base_link origin,
             navigation stack depends on this frame -->
  <link name="base_footprint">
      <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
             <box size="0.001 0.001 0.001" />
          </geometry>
      </visual>

      <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <box size="0.001 0.001 0.001" />
         </geometry>
     </collision>
  </link>

  <joint name="base_footprint_joint" type="fixed">
     <origin xyz="0 0 0" rpy="0 0 0" />
     <parent link="base_footprint"/>
     <child link="base_link" />
  </joint>


	<!-- BASE_LINK (RED) -->
	<link name="base_link">
	</link>
  
  <xacro:terabot name="terabot" parent="base_link">
	  <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:terabot>
  
  <xacro:ros_control_terabot namespace="/terabot"/>
	

</robot>
